@model IEnumerable<SchoolWeb.Models.RankVM>

@{
    ViewData["Title"] = "Index";
}

<h1>VIEW RANK TAGS</h1>
<hr/>

<p>
    <a asp-action="Create"class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Rank Tag</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
                    
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValueRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?')"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
