@model DisplayPlacementVM

@{
    ViewData["Title"] = "Index";
}

<h1>Placements</h1>


<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Student Name
            </th>
            <th>
                Matches
            </th>
            <th>
                Date
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.placement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a asp-action="PlacementAction" class="btn btn-danger" asp-route-id="@item.Id"> Place</a>
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?')"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
